/* Contact */
textarea,
.Inputs_Text
{
	width: 80% !important;
    border-radius: 5px;
    border: 1px solid #08526d;
    padding: 3px 8px;
    outline-style: none;
}

span+input,
span+textarea
{
    width: 35%;
    color: #08526d;
    font-weight: 500;
    display: block;
}

input[type="submit"],
input[type="reset"]
{
    width: 39% !important;
    float: left;
}

input[type="reset"]{
    margin: 0 0 0 2% ;
}

input,
textarea
{
	padding: 10px;
	margin: 20px 10px 10px 10px  !important;
}

input:focus {
    background: transparent;
    outline: none;
}
textarea:focus {
    background: transparent;
    outline: none;
}
/*--------------------------------------------------------------
# Selection
--------------------------------------------------------------*/

*::-moz-selection {
    background: #e9f4f7;
    color: #08526D;
    text-shadow: none;
}
::-moz-selection {
    background: #e9f4f7;
    color: #08526D;
    text-shadow: none;
}
::selection {
    background: #e9f4f7;
    color: #08526D;
    text-shadow: none;
}

.ContactForm,.img_contact{
display: inline-block;
color: #08526D;
}
.img_Form{
	float: right;
	width: 100%;
}
.Outer{
	margin-top: 2%;
	margin-bottom: 2%;
}
.ContactForm{
	padding: 10px;
	float: left;
}
.img_contact
{
	padding: 10px;
	margin-left: -25px;
}
.contact_UnderLine
{
	text-decoration: underline;
}