*
{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.services, .submit {
  float: left;
  margin: 25px 0;
}

.services > div {
  display: inline;
}

.name, .email-pass {
  margin: 25px 5px;
}

.email-pass .col-6 {
  float: left;
  margin: 5px 0 5px;

}
.edit > form {
  display: block;
  margin: 30px 0;
  width: 100%;
}



label {
  display: block !important;
  margin-bottom: 2px !important;
  font-size: 20px;
}

input:not([type='checkbox']) {
  width: 80%;
  margin: 0 6px;
  padding: 3px 4px;
  border: 2px solid #72b3ca;

}

.name input {
  width: 90%;
}
input:not([type='checkbox']):focus {
  outline: none;
}

.services label:not(:first-child){
  display: inline-block !important;
}

.last-add:first-child span {
  font-size: 18px;
  font-weight: 500;
  color: #4a5052;
  padding: 0 10px;
}

.last-add:last-child {
  display: none;
  height: 250px;
  margin-bottom: 20px;
  padding: 20px;
  border: 3px solid #72b3ca;
}

.last-add:last-child > div {
  display: inline;
  float: left;
  width: 33%;
  padding: 10px;
}

.last-add:last-child > div select {
  padding: 4px 6px;
}

.last-add:last-child > div.ok {
  width: 95%;
  clear: both;
  
}

.last-add:last-child > div.ok span {
  font-weight: 500;
  color: #08526d;
  border: 1px solid #08526d;
  background-color: transparent;
  padding: 3px 0;
  width: 100%;
  display: block;
  text-align: center;
  cursor: pointer;
}

.last-add:last-child > div.ok span:hover {
  background-color: #08526d;
  color: #fff;
}

.last-add:last-child > div select {
  border: 2px solid #72b3ca;
}

.last-add:last-child span {
  margin: 0;
}

.last-add {
  position: relative;
}

.last-add button {
  position: absolute;
  background-color: transparent;
  font-weight: 500;
  color: #72b3ca;
  border: 1px solid #72b3ca;
}

.last-add button:hover {
  border: none;
  background-color: #72b3ca;
  color: #fff;
}

.last-add:first-child button {
  bottom: 1px;
  right: 5px; 
  padding: 5px 8px;
}

.last-add:last-child button {
  top: 15px;
  right: 10px; 
  width: 30px;
  height: 30px;
}
.services label:not(:first-child) {
  font-size: 18px;
  font-weight: 500;
  color: #4a5052;
}

input[type='checkbox']{
  margin-left: 15px;
  margin-right: 5px;
}


.submit .btn {
  width: 100% !important;
  height: 100% !important;
}

.alert {
  position: absolute !important;
  top: 10%;
  right: 20%;
}