.col-9
{
  max-width: 100% !important;
}

.RadioStyle
{
  cursor: pointer;
  padding: 0 50px 0 30px;
  color: #08526d;
  font-size: 20px;
}
input.RadioStyle
{
  margin-right: 2%;
}
span.gender-span
{
  margin-left: 3%;
  font-size: 25px;
}
label.gender
{
  cursor: pointer;
  color: #08526d;
  font-size: 20px;
}
.gender-span
{
  margin: 10px;
  font-size: 25px;
}
.gender
{
  margin-right: 7%
  font-size: 25px;
}
.inputStyle
{
    color: #08526d;
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
    outline-style: none;
/*    margin-left: 12%;
*/    font-size: 20px;
}
.loc
{
  margin-left: -1%;
}
