
.image-header {
    margin-top: 100px;
}

.image-header .left-side h1 {
    color: #08526d;
}

.image-header .right-side,
.image-header .left-side {
    float:left
}

.image-header .left-side p {
    padding: 50px 0 0 40px;
    font-size: 20px;
    font-weight: 500;
    color: #08526d;
}

/* .image-header .left-side p:hover  {
    color: #f54a16;
    opacity: .8;
} */

.image-header .right-side img{
    width: 80%;
    margin-left: 20%;
    transition: all .1s ease-in-out;
}

.image-header .right-side:hover img {
    margin-left: 19%;
}


.about-us {
    margin-top: 100px;
    margin-bottom: 100px;

}

.about-us .right-side,
.about-us .left-side {
    float:left
}

.about-us .left-side h2 {
    color: #08526d;
}

.about-us .right-side{
    position: relative;
    overflow: hidden;
    padding: 0 50px ;
    height: 200px;
}

.about-us .right-side div{
    position: absolute;
    background-color: #08526d;
    width: 90%;
    height: 100%;
    padding: 70px 50px;
    transform: skewX(-20deg);
    z-index: 0;
    transition: transform .5s ease-in-out;
    border-radius: 50px 0 50px 0;
}

.about-us .right-side:hover div{
    transform: skewX(0deg);
}

.about-us .right-side p{
    position: absolute;
    z-index: 1;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    width: 85%;
    top: 50px;
    left: 100px;
}




/* Start Our Services */

.our-sers {
    margin: 100px 0 100px;
}

.our-sers .upper{
    padding: 20px;
}

.our-sers .upper h2 {
    margin-bottom: 20px;
    color: #08526d;
    text-align: center;
}

.our-sers .upper p {
    text-align: center;
    color: #08526d;
    font-weight: 500;
    font-size: 18px;
    opacity: .6;
}


.our-sers .elems .col-4{
    float: left;
}
.our-sers .elems .col-4 > div{

    width: 100%;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(230, 227, 227, 0.651);
    cursor: pointer;
}

.our-sers .elems .col-4:hover > div {
    background-color: rgba(230, 227, 227, 0.3);

}

.our-sers .elems .i {
    width: 80px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 50%;
    
}
.our-sers .elems .left .i { border: 5px solid #f54a16;  }
.our-sers .elems .mid .i { border: 5px solid #9c16f5; }
.our-sers .elems .right .i {border: 5px solid #2ccc5c;  }

.our-sers .elems .left .i svg { fill: #f54a16; }
.our-sers .elems .mid .i svg { fill: #9c16f5; }
.our-sers .elems .right .i svg { fill: #2ccc5c; }

.our-sers .elems .left h3 { color: #f54a16; }
.our-sers .elems .mid h3 { color: #9c16f5; }
.our-sers .elems .right h3 { color: #2ccc5c; }


.our-sers .elems h3 {
    color: #08526d;
    margin-bottom: 20px;
    text-align: center;

}

.our-sers .elems p {
    color: #08526d;
    opacity: .8;
    font-weight: 500;
    text-align: center;
}
/* End Our Services */


/* Start Our Team */
.our-team
{
    width: 100%;
    padding: 0 30px 30px;
    margin-bottom: 70px;

}

.our-team h2{
    color: #08526d;
    cursor: pointer;
}

.our-team p {
    width: 80%;
    margin: 20px 100px 20px 20px;
    font-weight: 500;
    font-size: 20px;
    opacity: .6;
    border-left: 4px solid #08526d;
    padding-left: 20px;
    transition: all .2s ease-in-out;
}

.our-team:hover p {
    color: #f54a16;
}


.our-team:after{
    content: '';
    clear: both;
}
.our-team .box
{
    width: 100%;
    border-radius: 20px;
    height: 200px;
    float: left;
}


.our-team .box:last-child
{
    display: flex;
    justify-content: space-around;
}

.our-team .box .member
{
    border-radius: 20px;
    position: relative;
    width: 18%;   
    cursor: pointer;    
    overflow: hidden;    
    height: 90%;
}

.our-team .box .member .overlay
{
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    color: #fff;
    text-align: center;
    line-height: 170px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #08526d70;
}

.our-team .box .member img
{
    border-radius: 20px;
    width: 100%;
    margin: 20px 0;
}
/* End Our Team */
