.location:link {
	color: white;
	text-decoration: none;
}

/* visited link */
.location:visited {
	color: white;
	text-decoration: none;
}

/* mouse over link */
.location:hover {
	color: white !important;
	text-decoration: none !important;
}

/* selected link */
.location:active {
	color: white;
	text-decoration: none;
}