

/* Start Upper Profile */
.prof-section{
    margin-top: 5%;
}

.img-prof {
    position: relative;
    height: 180px;
	max-width: 80%;
}

.img-prof img {
    width: 100%;
    box-shadow: 3px 3px 2px 1px #888888; 
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-prof{
    padding: 10px 0 0 10px ;
    position: relative;
}

.contact-info{
    padding: 10px 0 0 10px;
}
.contact-info > div{
    border-radius: 0 0 10px 0;
    margin-bottom: 10px;
    margin-left: 25px;
    
    font-size: 25px;
}

.contact-info > div > .fa {
    color: #08526d;
    text-align: center;
    margin-right: 20px;
}

.contact-info span {
    color: #08526d;
}

.adress button {
    position: absolute;
    right: 10px;
}

.go a {
    text-decoration: none;
    color: #08526d;
    font-weight: 500;
    text-underline-offset: none;
}

.go:hover a {
    color: #fff;
}

.services-prof {
    border: 3px solid #08526d;
    border-radius: 10px;
    padding: 2%;
    margin: 50px 1% 0 1% ;
    width: 100%;
}

.services-prof ul {
    display: flex;
}

.services-prof ul li {
    list-style: none;
    margin: 20px 10px;
    text-align: center;
    padding: 10px 15px;
    background-color: #fff;
    color: #08526d;
    border: 3px solid #08526d;
    border-radius: 5px 5px 0 0;
    justify-content: space-around;
    border-bottom: none;
    box-shadow: 1px -2px 0 .2px #302f2f69; 
}
.services-prof ul li::before {
    content: "# ";
}

.services-prof ul li:hover{
    box-shadow: none; 
}
.work-gallery {
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}


.card-body{
    margin-top: -25px;
    margin-left: -20px;
}


.work-gallery p{
    color: #08526d;
    font-size: 20px;
}
.file
{
   padding: 1% ; 
}
.newBtn
{
    margin: 1%;
}
textarea
{
    outline: none;
    border: 3px #08526d solid;
    border-radius: 10px;
    width: 98%;
    padding: 1%;
    margin-left: 1% !important;
}

textarea:focus {
    border: 3px #2b94bb solid;

}
.card
{
    display: inline !important ;
    float: left !important ;
    margin-right:1% !important ;
    margin-bottom:1% !important; 
    margin-top:1% !important ;
    padding: 1% !important ;
}
.card-img-top
{
    overflow: hidden !important  ;
    width: 100% !important ;
    height: 150px ;
}

.card-img-top img {
    transition: all .5s ease-in-out;
}

.card-img-top:hover img {
    position: absolute;
    border: 2px solid #08526d;
    border-radius: 20px;
    width: 120%;
    left: 10px;
    top: 30px;
    z-index: 9999;
}
.inForm
{
    padding: 2%;
    border-radius: 10px 10px 0 0;
    border: 3px #08526d solid;
    margin: 2% 0 2% 0;
    border-bottom: none;
}
.card-text
{
    padding: 3% 0% 1% 5% !important;
}

.v-gallery {
    padding: 2%;
    border-radius: 10px 10px 0 0;
    border: 3px #08526d solid;
    margin: 2% 0 1% 1%;
    border-bottom: none;
}