/* Services */ 
* {
    box-sizing: border-box;
  }


  .outer {
    margin: 50px 0 50px ;
  }

  .right-side .hr{
    width: 30px;
    border: 2px solid #08526d;
    margin-top: -2px;
    margin-bottom: 25px;
  }

.right-side,
.left-side {
    display: inline-block;
    color: #08526D;
}



.right-side .form-body {
  padding: 20px 0 0 20px;
  margin-top: -10px;
}

.right-side label
{
  width: 25%;
  font-weight: 500;
}

.right-side .right-side-selct {
  width: 50% !important;
  border-radius: 20px;
  border: 1px solid #08526d;
  padding: 3px 8px;
  outline-style: none;
}

.right-side input[type="text"]
{
  width: 50% !important;
  border-radius: 20px;
  border: 1px solid #08526d;
  padding: 3px 8px;
  outline-style: none;
}
.right-side input[type="submit"]
{
  background-color: #08526d;
  color: #fff;
  outline-style: none;
  margin: 15px 5px 0 0;
  padding: 1px 20px;
  border-radius: 20px;
  font-size: 20px;
}
.right-side input[type="submit"]:hover
{
  background-color: #086688;
}


/* Start Result */

.left-side form
{
padding: 10px;
margin-left: -25px;
width: 100%;

}

.left-side ul {
    list-style: none;
    width: 100%;

  }

.result-card {
  position: relative;
  width: 90%;
  border: 2px solid #08526d;
  border-radius: 50px;
  box-shadow: #000 1px 1px 1px;
}

.result-card img {
  width : 20%;
  float: left;
}


.result-card a {
  position: absolute;
  right: 5%;
  bottom: 20%;
  background-color: #08526d;
  color: #fff;
  outline-style: none;
  margin: 15px 5px 0 0;
  padding: 1px 20px;
  border-radius: 20px;
  font-size: 20px;

}