

.signup {
    margin: 50px 0 ;
}

.signup .right-side,
.signup .left-side {
    float:left
}

.signup .left-side form{
    padding: 20px 0 0 30px;
}


.signup .left-side h2 {
    color: #08526d;
}

.signup .left-side hr{
    width: 30px;
    border: 2px solid #08526d;
    margin-top: -2px;
    margin-bottom: 25px;
}

.signup .left-side form > input[type="radio"] {
    position: absolute;
    left: -9999px
}

.signup .left-side form > input[type="radio"]+label {
    position: relative;
    padding: 3px 0 0 40px;
    cursor: pointer
}

.signup .left-side form > input[type="radio"]+label:before {
    content: '';
    background: #fff;
    border: 2px solid #08526d;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0
}

.signup .left-side form > input[type="radio"]+label:after {
    content: '';
    background: #08526d;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0;
    transform: scale(2);
    transition: transform 0.3s linear, opacity 0.3s linear
}

.signup .left-side form > input[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1)
}

.signup .left-side form > form {
    padding: 20px 0 0 20px;
}

.signup .left-side > form .global-info label {
    width: 35%;
    color: #08526d;
    font-weight: 500;
}

.signup .left-side > form .global-info input {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #08526d;
    padding: 3px 8px;
    outline-style: none;
}

.signup .left-side > form .global-info input:focus {
    border: 2px solid #08526d;
}

.signup .left-side > form .prov-info label {
    width: 35%;
    color: #08526d;
    font-weight: 500;
}

.signup .left-side > form .prov-info .service-check {
    padding: 0px 0 0 20px;
}
.signup .left-side > form .prov-info h4{
    color: #08526d;
}

.signup .left-side > form .prov-info .service-check input {
    margin-right: 20px;
}


.signup .left-side > form .prov-info select
 {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #08526d;
    background-color: #08526d;
    color: #fff;
    padding: 5px 8px;
    outline-style: none;
}

.signup .left-side > form .prov-info input[name="Region"] {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #08526d;
    padding: 3px 8px;
    outline-style: none;
}


.signup .left-side > form button {
    margin: 20px 0 ;
    width: 20% !important;
}