

/* Start Upper Profile */
.prof-section{
    margin-top: 5%;
}

.img-prof {
    height: 200px;
}

.img-prof img {
    width: 100%;
    box-shadow: 5px 5px 2px 1px #888888; 
    border-radius: 20px;
}


.upper-prof {
    margin-bottom: 80px;
}

.upper-prof .info-prof{
    padding: 50px 0 0 50px ;
}



.upper-prof .info-prof > div:not(:first-child) {
    font-size: 20px;
    padding: 20px 0 0 20px;
} 


.upper-prof .info-prof > div:not(:first-child) .fa {
    color: #08526d;
    text-align: center;
    margin-right: 10px;
}

.upper-prof .info-prof > div:not(:first-child) span {
    color: #08526d;
}

.upper-prof .contact-info button {
    background-color: #08526d;
    color: #fff;
    padding: 0 20px;
    border-radius: 50px;
    font-size: 20px;
    position: absolute;
    right: 2px;   
}

.prof-section .container .upper-prof .contact-info button:hover {
    background-color: #0a6283;
}


/* End Upper Profile */
